.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

nav.navbar {
  border: unset;
  background: #f8f8f8;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  z-index: 500;
}

nav .navbar-collapse {
  border-top: unset;
}

nav .navbar-nav {
  background: #f8f8f8;
}

ul.navbar-right li {
  font-weight: bold;
}

.SiteName {
  font-size: 4rem;
}

.Slogan {
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3px 0 3rem 1rem;
}
